.surwayForm{
    border: 1px solid black;
    
    margin: 100px;
    padding: 10px;
}
#name {
    font-weight: bold;
    font-family: sans-serif;
}
.email1, #p{
    font-weight: bold;
    font-family: sans-serif;
}

input[type=text], .email {
    border: 2px solid lightgray;
  }
h6{
    font-weight: bolder;
    font-family: sans-serif;
    color: black;
}
.col{
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
}
i{
    color: goldenrod;

}
.star{
    line-height: 16%;
    font-family: sans-serif;
}


#boxx{
    width: 100%;
    height: 20%;
}
.box1{
    line-height: 16%;

}
.email1{
    line-height: 130%;

}
input[type="radio"]{
  
    width: 20px;
    height: 20px;
    border: 2px solid black;
}
.back {
    background-color: rgba(234, 233, 233, 0.92);
    border: 2px solid whitesmoke;
    padding: 10px;
  }
  .back{
    border-radius: 250px;
    
   
  }
  th, td, p{
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
  }
  #btn{
    
    border-color: white;
    border-radius: 5px;
    background-color: rgb(243, 239, 239);
    font-family: 'Times New Roman', Times, serif;
  }